<div class="o-article-text-module {{ record.modifiers }}">
    <div class="o-article-text-module__text">
        <div class="m-article-body">
            <!-- This must be generic HTML! -->
            {{ record.text_contents|raw }}
            <!-- This must be generic HTML! -->
        </div>
    </div>
    <div class="o-article-text-module__aside">
        <div class="m-vertical-advert js-dynamic-advert" aria-busy="true">
            <h6 class="a-mini-title m-vertical-advert__header">publicitate</h6>
        </div>
    </div>
</div>