description = "Main layout (static)"

[categoriesMenu]
==
<?php
//////////////////////////////////////////////////////////
function onStart() 
{
    $this['assets_hash'] = '79969ab8';
}
//////////////////////////////////////////////////////////
?>
==
{# 
    ______           _ _                      
    | ___ \         | | |                     
    | |_/ /___  __ _| | |__   ___   _ __ ___  
    |    // _ \/ _` | | '_ \ / _ \ | '__/ _ \ 
    | |\ \  __/ (_| | | | | |  __/_| | | (_) |
    \_| \_\___|\__,_|_|_| |_|\___(_)_|  \___/ 
                                              
    @author:    Konrad Fedorczyk <contact@realhe.ro>
    @about:     Basic main laoyut (static).
#}
{##################################################}
<!DOCTYPE html>
<html lang="ro">
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="{{ viewBag.page_class }}" style="overflow-y: scroll;">
        
        {% partial 'site/header' %}

        <div class="{{ viewBag.page_class }}__static-content">
            <article>
                <header>
                    <h1 class="a-super-title">{{ this.page.title }}</h1>
                </header>
    
                <div class="m-article-body">
                    {% page %}
                </div>
            </article>
        </div>

        {% partial 'site/footer' %}

        {% partial 'site/cookie-consent' %}

        <script src="{{ "assets/scripts/app.#{assets_hash}.js"|theme }}"></script>
    </body>
</html>